<div th:fragment="menu" id="sidemenu" class="sidemenu">

    <a href="/home" style="display:flex; align-items:center; text-decoration:none; color:inherit;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 24 24" style="margin-right:4px;">
            <path d="M4 2h14a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1zm1 2v14h12V4H5zm2 2h8v2H7V6zm0 4h8v2H7v-2z"/>
        </svg>
        Cursos
    </a>


    <a href="/dados">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>
        Dados Pessoais
    </a>

    <a style="cursor:pointer; display:flex; align-items:center;" onclick="redirecionar('/logout')">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" style="margin-right:4px;">
            <path d="M6 2a1 1 0 0 0-1 1v3h1V3h7v10H6v-3H5v3a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H6z"/>
            <path d="M.146 8.354a.5.5 0 0 1 0-.708L3.5 4.293a.5.5 0 1 1 .707.707L1.707 8l2.5 2.5a.5.5 0 0 1-.707.707l-3.354-3.353z"/>
        </svg>
        Sair
    </a>

</div>
