body {
    margin: 0;
    padding: 0;
    background: #1c282d;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    height: 65px;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.menu-btn {
    font-size: 32px;
    cursor: pointer;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.logo span {
    color: #f1c40f;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #2a2a2a;
    padding: 10px 16px;
    border-radius: 25px;
}

.profile img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* SIDEMENU */
.sidemenu {
    position: absolute;
    top: 65px;
    left: 0;
    width: 230px;
    background: #222;
    border-right: 1px solid #333;
    padding: 15px;
    display: none;
}

.sidemenu a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    color: #ccc;
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 5px;
}

.sidemenu a:hover {
    background: #333;
    color: #fff;
}

/* MAIN CONTENT */
.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #f1c40f;
}

.card {
    background: #2b2b2b;
    padding: 30px;
    border-radius: 12px;
}

/* GRID */
.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: auto;
}

@media (max-width: 900px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}

input, select {
    max-width: 100%;
    padding: 12px;
    background: #1a1a1a;
    border: 1px solid #444;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
}

/* BUTTON */
.btn {
    margin-top: 25px;
    background: #f1c40f;
    padding: 12px 22px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.btn:hover {
    background: #ffdb4d;
}