body {
    margin: 0;
    padding: 0;
    background: #1c282d;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 25px;
}

/* HEADER */
header {
    background: #0d0d0d;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #222;
}

.menu-btn {
    font-size: 32px;
    cursor: pointer;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.logo span {
    color: #91a0a7;
}

/* SIDEMENU */
.sidemenu {
    position: fixed;
    left: 0;
    width: 230px;
    height: calc(100% - 65px);
    background: #0f171cf2;
    border-right: 1px solid #333;
    padding: 15px;
    display: none;
    z-index: 9999;
    overflow-y: auto;
}

.sidemenu a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    color: #ccc;
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 5px;
}

.sidemenu a:hover {
    background: #333;
    color: #fff;
}

/* GRID DE CARDS */
.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: auto;
    padding: 10px;
}

.card {
    background: #1a1a1a;
    padding: 30px;
    border-radius: 12px;
}

@media (max-width: 900px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}

input, select {
    max-width: 100%;
    padding: 12px;
    background: #1a1a1a;
    border: 1px solid #444;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
}

/* BUTTON */
.btn {
    margin-top: 25px;
    background: #37687c;
    padding: 12px 22px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.btn:hover {
    background: white;
}