<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portal Cursos - Áreas de Conhecimento</title>

    <link rel="stylesheet" th:href="@{/css/style-curso.css}">
</head>

<body>

<!-- HEADER -->
<div th:insert="fragments/header :: header"></div>

<!-- MENU -->
<div th:insert="fragments/menu :: menu"></div>

<!-- CONTEÚDO -->
<div class="container">

    <!-- Breadcrumb -->
    <div class="breadcrumb">
        <nada onclick="redirecionar('/home')">Meus Cursos ></nada> <span>Portal Cursos</span>
    </div>

    <h1>Áreas de conhecimento</h1>

    <div class="grid">

        <!-- CARD 1 -->
        <div class="card" onclick="redirecionar('/aula/1')">
            <div>
                <div class="card-icon">🏁</div>
                <div class="card-title">Boas vindas</div>
                <div class="card-desc">
                    O primeiro passo e informações para você começar a sua jornada de aprendizado transformadora.
                </div>
            </div>
            <div class="status">Trilha Finalizada ✓</div>
        </div>

        <!-- CARD 2 -->
        <div class="card">
            <div>
                <div class="card-icon">🐳</div>
                <div class="card-title">Docker e Containers</div>
                <div class="card-desc">
                    Explore as funcionalidades do Docker, na prática, desde o desenvolvimento até a produção.
                </div>
            </div>
            <div class="status">Trilha Finalizada ✓</div>
        </div>

        <!-- CARD 3 -->
        <div class="card">
            <div>
                <div class="card-icon">📟</div>
                <div class="card-title">APIs: Design, REST, gRPC e API Gateway</div>
                <div class="card-desc">
                    Aprenda a projetar e implementar APIs escaláveis e seguras com REST, gRPC e API Gateway.
                </div>
            </div>
            <div class="status">Trilha em Construção 🛠</div>
        </div>

        <!-- CARD 4 -->
        <div class="card">
            <div>
                <div class="card-icon">🤖</div>
                <div class="card-title">Testes Automatizados</div>
                <div class="card-desc">
                    Trabalhe com TDD, padrões avançados e testcontainers.
                </div>
            </div>
            <div class="status">Trilha em Construção 🛠</div>
        </div>

        <!-- CARD 5 -->
        <div class="card">
            <div>
                <div class="card-icon">📐</div>
                <div class="card-title">SOLID e Design Patterns</div>
                <div class="card-desc">
                    Domine SOLID e padrões GoF para criar arquiteturas flexíveis e resolver problemas reais.
                </div>
            </div>
            <div class="status">Trilha em Construção 🛠</div>
        </div>

        <!-- CARD 6 -->
        <div class="card">
            <div>
                <div class="card-icon">🏛</div>
                <div class="card-title">Arquitetura: MVC, Hexagonal, Clean e Multi Tenant</div>
                <div class="card-desc">
                    Explore arquiteturas modernas para criar sistemas escaláveis e seguros.
                </div>
            </div>
            <div class="status">Trilha em Construção 🛠</div>
        </div>

    </div>
</div>
<!-- CONTEÚDO -->

<!-- SCRIPTS -->
<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>
