<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Cursos - Portal Cursos</title>

    <link rel="stylesheet" th:href="@{/css/style-home.css}">
</head>

<body>

<!-- HEADER -->
<div th:insert="fragments/header :: header"></div>

<!-- MENU -->
<div th:insert="fragments/menu :: menu"></div>

<!-- CONTEÚDO -->
<div class="container">
    <h1>Meus Cursos</h1>

    <div class="courses">

        <div th:each="curso : ${cursos}"
             class="card"
             th:onclick="'redirecionar(\'/curso/' + ${curso.id} + '\')'">
            <img src="/img/book.png" alt="Livro">
            <div class="card-content">
                <div class="card-title" th:text="${curso.nome}">Nome do Curso</div>
                <p th:text="${curso.descricao}">Descrição do curso</p>
            </div>
        </div>


    </div>

    <div class="separator"></div>
</div>
<!-- CONTEÚDO -->

<!-- SCRIPTS -->
<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>
